* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
  padding: 40px 20px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  color: gold;
}


.cards-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 25px; 
}


.hero-card {
  width: 300px;
  background: darkslateblue;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}
.hero-card:hover {
  transform: scale(1.05); 
}


.img-box {
  position: relative; 
  width: 100%;
  height: 400px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease; 
}


.img-before {
  opacity: 1;
}


.img-after {
  opacity: 0;
}


.hero-card:hover .img-before {
  opacity: 0;
}
.hero-card:hover .img-after {
  opacity: 1;
}

.hero-card h3 {
  padding: 15px;
  background: navy;
  color: white;
}