
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: darkblue;
}



.signal-box {
    width: 120px;
    height: 330px;

    background-color: black;

    border-radius: 20px;

    margin-left: 150px;
    margin-top: 30px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.light {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    opacity: 0.25;
}



.red {
    background-color: red;

    animation: redLight 5s infinite;
}



.yellow {
    background-color: yellow;

    animation: yellowLight 5s infinite;
}



.green {
    background-color: limegreen;

    animation: greenLight 5s infinite;
}




@keyframes redLight {

    0%,
    39% {
        opacity: 1;
        box-shadow: 0 0 30px red;
    }

    40%,
    100% {
        opacity: 0.25;
        box-shadow: none;
    }
}



@keyframes yellowLight {

    0%,
    39% {
        opacity: 0.25;
        box-shadow: none;
    }

    40%,
    59% {
        opacity: 1;
        box-shadow: 0 0 30px yellow;
    }

    60%,
    100% {
        opacity: 0.25;
        box-shadow: none;
    }
}



@keyframes greenLight {

    0%,
    59% {
        opacity: 0.25;
        box-shadow: none;
    }

    60%,
    99% {
        opacity: 1;
        box-shadow: 0 0 30px limegreen;
    }

    100% {
        opacity: 0.25;
    }
}




.pole {
    width: 20px;
    height: 250px;

    background-color: gray;

    margin-left: 200px;
}




.road {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 180px;

    background-color: #333;

    overflow: hidden;
}


.road-line {
    position: absolute;

    top: 80px;
    left: 0;

    width: 100%;
    height: 8px;

    background: repeating-linear-gradient(
        to right,
        white 0px,
        white 80px,
        transparent 80px,
        transparent 140px
    );
}




.motorcycle {
    position: absolute;

    bottom: 55px;
    left: -180px;

    width: 150px;
    height: 90px;

    animation: bikeMove 5s infinite;
}




.wheel {
    position: absolute;

    bottom: 0;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: black;

    border: 5px solid gray;
}

.wheel1 {
    left: 15px;
}

.wheel2 {
    right: 15px;
}




.bike-body {
    position: absolute;

    width: 80px;
    height: 15px;

    background-color: red;

    left: 35px;
    bottom: 35px;

    border-radius: 10px;
}




.handle {
    position: absolute;

    width: 35px;
    height: 7px;

    background-color: black;

    right: 5px;
    bottom: 55px;

    transform: rotate(-20deg);
}




.rider {
    position: absolute;

    left: 55px;
    bottom: 45px;

    width: 50px;
    height: 55px;
}




.head {
    position: absolute;

    width: 22px;
    height: 22px;

    border-radius: 50%;

    background-color: #d9a066;

    top: 0;
    left: 15px;
}




.body {
    position: absolute;

    width: 20px;
    height: 35px;

    background-color: blue;

    top: 20px;
    left: 16px;

    border-radius: 8px;
}




@keyframes bikeMove {

    
    0% {
        left: -180px;
    }

    60% {
        left: -180px;
    }

    
    70% {
        left: 20%;
    }

    80% {
        left: 45%;
    }

    90% {
        left: 70%;
    }

    100% {
        left: 110%;
    }
}

