* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgray;
}



.flag {
    width: 600px;
    height: 400px;

    border: 2px solid black;
}


.saffron {
    width: 100%;
    height: 33.33%;

    background-color: #FF9933;
}



.white {
    width: 100%;
    height: 33.33%;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}



.green {
    width: 100%;
    height: 33.33%;

    background-color: #138808;
}



.chakra {
    width: 120px;
    height: 120px;

    border: 6px solid #000080;
    border-radius: 50%;

    position: relative;
}



.spoke {
    width: 3px;
    height: 54px;

    background-color: #000080;

    position: absolute;

    left: 50%;
    top: 50%;

    transform-origin: center bottom;
}



.s1 {
    transform: translate(-50%, -100%) rotate(0deg);
}

.s2 {
    transform: translate(-50%, -100%) rotate(15deg);
}

.s3 {
    transform: translate(-50%, -100%) rotate(30deg);
}

.s4 {
    transform: translate(-50%, -100%) rotate(45deg);
}

.s5 {
    transform: translate(-50%, -100%) rotate(60deg);
}

.s6 {
    transform: translate(-50%, -100%) rotate(75deg);
}

.s7 {
    transform: translate(-50%, -100%) rotate(90deg);
}

.s8 {
    transform: translate(-50%, -100%) rotate(105deg);
}

.s9 {
    transform: translate(-50%, -100%) rotate(120deg);
}

.s10 {
    transform: translate(-50%, -100%) rotate(135deg);
}

.s11 {
    transform: translate(-50%, -100%) rotate(150deg);
}

.s12 {
    transform: translate(-50%, -100%) rotate(165deg);
}

.s13 {
    transform: translate(-50%, -100%) rotate(180deg);
}

.s14 {
    transform: translate(-50%, -100%) rotate(195deg);
}

.s15 {
    transform: translate(-50%, -100%) rotate(210deg);
}

.s16 {
    transform: translate(-50%, -100%) rotate(225deg);
}

.s17 {
    transform: translate(-50%, -100%) rotate(240deg);
}

.s18 {
    transform: translate(-50%, -100%) rotate(255deg);
}

.s19 {
    transform: translate(-50%, -100%) rotate(270deg);
}

.s20 {
    transform: translate(-50%, -100%) rotate(285deg);
}

.s21 {
    transform: translate(-50%, -100%) rotate(300deg);
}

.s22 {
    transform: translate(-50%, -100%) rotate(315deg);
}

.s23 {
    transform: translate(-50%, -100%) rotate(330deg);
}

.s24 {
    transform: translate(-50%, -100%) rotate(345deg);
}



.center {
    width: 14px;
    height: 14px;

    background-color: #000080;

    border-radius: 50%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

