body {
    background: #0a1a3a; /* Same dark blue */
}


.half-moon {
    width: 100px;           
    height: 100px;          
    
    border-radius: 50%;
    box-shadow: inset 25px 25px 0 0 yellow;
}